<div id="seats_num" data-table-num=<%= @session.try(:session_seat).try(:total_table_count) %> data-table-pernum=<%= @session.try(:session_seat).try(:per_table_num) %> class='hidden'></div>

<% breadcrumb :seats %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <% if @seats.present? %>
        <%= render 'seat_show' %>
      <% else %>
        <% if params[:session_id].blank? %>
          <%= render 'choose_session' %>
        <% else %>
          <%= render 'seat_form' %>
          <%= render 'attendee' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :script do %>
  <%= javascript_include_tag 'seat_show' %>
<% end %>
