<div id="seats_num" data-table-num=<%= @session.try(:session_seat).try(:total_table_count) %> data-table-pernum=<%= @session.try(:session_seat).try(:per_table_num) %> class='hidden'></div>
<div id="current-event" class="hidden" data-current-event=<%=current_event.id%>></div>

<% if 'show_attendees'==params[:current_action] %>
  <% breadcrumb :set_attendee_seat %>
<% else %>
  <% breadcrumb :set_seat %>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>座位安排<%= "#{(@session.full_name)}" if @session.present?%></h5>
      </div>
      <div class="ibox-content">
        <div class="container-fluid">
          <div class="row">
            <% if 'show_attendees'==params[:current_action] %>
              <%= render 'attendees' %>
            <% else %>
              <%= render 'set_seat' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <% if 'show_attendees'==params[:current_action] %>
    <%= javascript_include_tag 'seat_new' %>
  <% else %>
    <%= javascript_include_tag 'set_seat' %>
  <% end %>
<% end %>
