<div id="seats_num" data-table-num=<%= @session.try(:session_seat).try(:total_table_count) %> data-table-pernum=<%= @session.try(:session_seat).try(:per_table_num) %> class='hidden'></div>
<div id="current-event" class="hidden" data-current-event=<%=current_event.id%>></div>

<% breadcrumb :seats %>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>座位安排(<%=@session.full_name%>)</h5>
      </div>
      <div class="ibox-content">
        <div class="container-fluid">
          <div class="row">
            <% if 'show_attendees'==params[:current_action] %>
              <%= render 'attendees' %>
            <% else %>
              <%= render 'set_seat' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <%# if @seats.present? %>
        <%#= render 'seat_show' %>
      <%# else %>
        <%# if params[:session_id].blank? %>
          <%#= render 'choose_session' %>
        <%# else %>
          <%#= render 'seat_form' %>
          <%#= render 'attendee' %>
        <%# end %>
      <%# end %>
    </div>
  </div>
</div> -->

<% content_for :script do %>
  <%= javascript_include_tag 'seat_new' %>
  <%= javascript_include_tag 'set_seat' %>
<% end %>

<%# content_for :script do %>
  <%#= javascript_include_tag 'seat_show' %>
<%# end %>
