<title>尤尼克斯新品发布合作伙伴会议</title>
<div class="container">
  <div class="row">
    <div id="page0" class="col-xs-12 animated">
      <div class="home-bg">
        <%= image_tag 'client/invites/home_page0.png', class:"bg-img" %>
      </div>
      <div class="col-xs-12 logo-area">
        <div class="col-xs-5 col-xs-offset-7 text-right">
          <%= image_tag 'client/shared/metting_logo.png'%>
        </div>
      </div>
      <div class="col-xs-12 title-area">
        <%= image_tag 'client/invites/title.png', class:"" %>
        <p class="invitation">邀请函</p>
      </div>
      <div class="col-xs-12 text-center double-down">
        <%= image_tag 'client/invites/arrow.png'%>
      </div>
    </div>
    <div id="page1" class="col-xs-12 animated fadeInUp">
      <div class="home-bg">
        <%= image_tag 'client/invites/home_page1.png', class:"bg-img" %>
      </div>
      <div class="page1-area">
        <div class="col-xs-12 logo-area">
          <div class="col-xs-5 col-xs-offset-7 text-right">
            <%= image_tag 'client/shared/metting_logo.png'%>
          </div>
        </div>
        <div class="col-xs-12 title-area">
          <%= image_tag 'client/invites/title.png', class:"" %>
        </div>
        <div class="col-xs-12 letter-area">
          <div class="col-xs-10 col-xs-offset-1">
            <p class="call-name">尊敬的嘉宾：</p>
            <p class="letter-pre">欢迎您莅临2016尤尼克斯新品发布合作伙伴会议，在这里，您将看到尤尼克斯领先的科学技术与最新的产品展示， 我们真诚地希望本次合作伙伴会议将给您带来全新的非凡体验。</p>
          </div>
        </div>
        <div class="col-xs-12 button-area text-center">
          <%= link_to new_client_session_path do %>
            <button type="button">进入微官网</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :style do %>

  <%= stylesheet_link_tag '//cdn.bootcss.com/animate.css/3.5.0/animate.min.css', media: 'all' %>
  <%= stylesheet_link_tag 'client_invites_show', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'client_invites_show' %>
<% end %>
