<style type="text/css">
  body{
    background-color: #ececec;
    font-family:'黑体', '微软雅黑';
  }
  .bg-area{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  .bg-area .bg-img{
    position: absolute;
    left: 10%;
    bottom: 0px;
    width: 759px;
    height: 309px;
  }
  .bg-area .logo-img{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 88px;
    height: 26px;
  }
  .title-area{
    margin-top: 16%;
    font-size: 2.6em;
    color: #383838;
  }
  .seat-area{
    font-size: 1.6em;
    margin-top: 5%;
    color: #484848;
  }
  .seat-area p{
    margin-bottom: 0px;
  }
  .return-area{
    margin-top: 6%;
  }
  .return-area button{
    width: 30%;
    background-color: #005bac;
    color:#ffffff;
    border-radius: 10px;
    height: 50px;
    font-size: 1.4em;
  }
  .seconds{
    color: #005bac;
  }
  .return-msg{
    margin-top: 2%;
  }
  .number-paragraph{
    color: #00953F;
    font-size: 1.5em;
    margin-top: 12px;
  }
  @media screen and (min-width: 1400px){
    .title-area{
      font-size: 3em;
    }
    .seat-area{
      font-size: 1.8em;
    }
    .return-msg{
      font-size: 1.2em;
    }
    .return-area button{
      height: 60px;
      font-size: 1.6em;
    }
    .number-paragraph{
      font-size: 1.7em;
    }
    .bg-area .bg-img{
      width: 800px;
      height: 329px;
    }
    .bg-area .logo-img{
      width: 92px;
      height: 28px;
    }
  }
  @media screen and (min-width: 1600px){
    .title-area{
      font-size: 3.6em;
    }
    .seat-area{
      font-size: 2.6em;
    }
    .return-msg{
      font-size: 1.8em;
    }
    .return-area button{
      height: 90px;
      font-size: 2.4em;
    }
    .number-paragraph{
      font-size: 2.5em;
    }
    .bg-area .bg-img{
      width: 900px;
      height: 379px;
    }
    .bg-area .logo-img{
      width: 102px;
      height: 33px;
    }
  }
</style>
<title>座位查询</title>
<div class="container-fluid">
  <div class="row">
    <div class="bg-area">
      <%= image_tag 'attendee_seats/body_bg.png', class:"bg-img"%>
      <%= image_tag 'attendee_seats/logo.png', class:"logo-img"%>
    </div>
    <div class="col-xs-6 col-xs-offset-3 text-center page-area">
      <div class="title-area">座位自助查询</div>
      <% if @seat.present? %>
        <div class="seat-area success-message">
          <p><%= @attendee.name %> 先生/女士，您的座位在</p>
          <% if 'true'==@session_seat.properties['set_table_num']%>
            <p class="number-paragraph">第 <%=@seat.table_row%> 桌 <%=@seat.table_col%> 号</p>
          <% else %>
            <p class="number-paragraph">第 <%=@seat.table_row%> 桌</p>
          <% end %>
        </div>
      <% else %>
        <div class="seat-area failure-message">
          <p>很抱歉，没有找到您的座位信息。</p>
          <p>请联系您的担当销售。</p>
        </div>
      <% end %>
      <div class="return-area">
        <a href="javascript:;" onclick="javascript:history.back(-1);">
          <button type="button">返 回</button>
        </a>
      </div>
      <div class="return-msg">
        <p>将在<span class="seconds">3</span>秒后自动返回</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    //倒计时返回
    $(function(){
      var i = 2;
      var timer = setInterval(function(){
        $('.seconds').html(i);
        i--;
        if(i == -1)
        {
          clearInterval(timer);//取消进程
          history.back(-1);
        }
      },1000)
    })
  })
</script>