<title>云签到</title>
<div class="container">
  <div class="row">
    <div class="home-bg">
      <% if current_event.sessions_new_bg.present? %>
        <img src=<%= current_event.sessions_new_bg.url %> class="bg-img" />
      <% else %>
        <%= image_tag 'client/sessions/sessions.png', class:"bg-img" %>
      <% end %>
    </div>
    <div class="col-xs-12 text-center">
      <img src=<%= current_event.event_logo.url %> class="logo-img" />
      <p class="call-name">您好!</p>
      <p class="phone-msg">请输入您的手机号码验证身份</p>
      
      <form action="/client/events/<%= current_event.id %>/sessions" method="post">
        <div class="col-xs-12 phone-area">
          <span class="phone-box-area">
            <span>+ 86 &nbsp;|</span>
            <input type="tel" maxlength="11" name="phone_number" class="phone-box" />
          </span>
        </div>

        <div class="col-xs-12 session-button-area">
          <a>
            <button class="session-button" type="submit" style="border: 1px solid #007dcc;">验证身份</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<% content_for :style do %>
  <%= stylesheet_link_tag 'client_sessions_new', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'client_sessions_new' %>
<% end %>
