<div id="latitude" class="hidden" data-latitude=<%= @restaurant.latitude %>></div>
<div id="longitude" class="hidden" data-longitude=<%= @restaurant.longitude%>></div>

<title>会议信息</title>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 restaurants-img">
    <% if @restaurant.head_photo.present? %>
      <img src=<%= @restaurant.head_photo.url%> class="img-responsive">
    <% else %>
      <%= image_tag 'client/restaurants/restaurants.png', class:"img-responsive"%>
    <% end %>
    </div>
    <div class="col-xs-12 restaurants-area">
      <div class="col-xs-12 title-area">
        <div class="col-xs-8 icon-area">
          <%= image_tag 'client/restaurants/restaurants_icon.png' %>
          <span class="title-name">酒店信息</span>
        </div>
        <div class="col-xs-4 text-right close-area">
          <a href="javascript:;" onclick="javascript:history.back(-1);">
            <%= image_tag 'client/shared/close.png'%>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 map-area">
      <div class="map-border">
        <div class="col-xs-12" id="mapArea"></div>
      </div>
    </div>
    <div class="col-xs-12 text-center res-name">
      <%= @restaurant.restaurant_name %>
    </div>
    <div class="col-xs-12 text-center message">
      <div class="col-xs-12 message-area">
        <div class="col-xs-9 address-area text-left" style="padding-left: 10px;">
          <%= @restaurant.address %>
        </div>
        <div class="col-xs-3 phone-icon-area">
          <a href="tel:<%= @restaurant.phone_number %>">
            <%= image_tag 'client/restaurants/phone_icon.png'%>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :style do %>
  <%= stylesheet_link_tag 'client_restaurants_show', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag "http://api.map.baidu.com/api?v=2.0&ak=HdsvMcKCczLgibFGjxe29Bh8" %>
  <%= javascript_include_tag "client_restaurants_show" %>
<% end %>
