<title>会议信息</title>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 schedule-img">
     <%= image_tag 'client/event_sessions/schedule.png', class:"img-responsive"%>
    </div>
    <div class="col-xs-12 schedule-area">
      <div class="col-xs-12 title-area">
        <div class="col-xs-8">
          <%= image_tag 'client/event_sessions/schedule_icon.png', class:"sch_icon"%>
          <span class="title-name">会议日程</span>
        </div>
        <div class="col-xs-4 text-right close-area">
          <a href="/client/invites">
            <%= image_tag 'client/shared/close.png'%>
          </a>
        </div>
      </div>

      <% count = 0 %>
      <% total_count = 0 %>
      <% last_date = '' %>
      <% @sessions.each do |session| %>
        <%
          count += 1
          if last_date!=session.start_date
            count = 1
            last_date=session.start_date
          end

          @collection.each do |item|
            if item[:start_date] == session.start_date
              total_count = item[:count].to_i
            end
          end
        %>

        <% if 1==count %>
        <div class="col-xs-12 schedule-msg">
          <div class="col-xs-12 list-title">
            <div class="col-xs-8 schedule-data"><%= session.start_date %></div>
            <div class="col-xs-4 schedule-down text-right"><i class="fa fa-angle-down"></i></div>
          </div>
          <div class="col-xs-12">
            <ul class="schedule-list">
        <% end %>
              <li>
                <div class="col-xs-6 list-time"><%= session.start_time %> - <%= session.end_time %></div>
                <div class="col-xs-6 list-name"><%= session.name %></div>
              </li>
        <% if count==total_count %>
            </ul>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :style do %>
  <%= stylesheet_link_tag 'client_event_sessions_show', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag "client_event_sessions_show" %>
<% end %>