<div class="row m-b-md m-t-md">

  <div class="col-sm-3 m-b-xs">
    <%=select_tag :category_id, options_from_collection_for_select(current_event.attendee_categories, 'id', 'name', params[:category_id]), prompt: '选择用户标签', include_blank: false, class: 'input-sm form-control input-s-sm inline'%>
  </div>

  <div class="col-sm-9 m-b-xs">
    <div data-toggle="buttons" class="btn-group">
      <% {'全部' => '0', '有图' => '1', '无图' => '-1'}.each do |k, v| %>
          <label class="btn btn-sm btn-white <%=params[:has_photo] == v ? 'active' : ''%>">
            <input type="radio" class='has_photo' name="has_photo" value="<%=v%>" <%=params[:has_photo] == v ? 'checked' : ''%>> <%=k%> </label>
      <% end %>
    </div>

    <div data-toggle="buttons" class="btn-group" style="margin-left:30px;">
      <% {'全部' => '0', '有头像' => '1', '无头像' => '-1', '有照片无头像' => '-2'}.each do |k, v| %>
          <label class="btn btn-sm btn-white <%=params[:has_avatar] == v ? 'active' : ''%>">
            <input type="radio" class='has_avatar' name="has_avatar" value="<%=v%>" <%=params[:has_avatar] == v ? 'checked' : ''%>> <%=k%> </label>
      <% end %>
    </div>
  </div>

  <%= form_tag '', method: :get do%>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" placeholder="请输入关键字" class="input-sm form-control" name="keyword" value="<%=params[:keyword]%>">
          <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
        </div>
      </div>
  <% end %>

</div>