<div class="row">
  <b>设置已选择的各功能的内容</b>
</div>

<div class="row" style="margin-top:40px">
	<div class="col-xs-6 box" id="box">
		<div class="main" id="main0">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
		  <span style="margin-left:30px">入场凭证</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main1">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
		  <span style="margin-left:30px">会议日程</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main2">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%><span style="margin-left:30px">酒店信息</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main3">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%><span style="margin-left:30px">周边推荐</span><input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main4">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
		  <span style="margin-left:30px">座位信息</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main5">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
		  <span style="margin-left:30px">站外链接</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main6">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
		  <span style="margin-left:30px">互动问答</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>

		<div class="main" id="main7">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%><span style="margin-left:30px">现场抽奖</span>
		  <input style="float:right;margin-top:30px" type="button" value="移除"></input>
		</div>
	</div>
</div>
