<%= form_for @event, url: event_update_event_base_setting_path(@event), html: {class: 'form-horizontal', style: 'margin-left: 40px;'} do |f|%>
  <div class="form-group">
    <div class="col-md-12">
      <label for="event_domain_name">1. 域名设置</label>
    </div>
    <div class="col-md-8">
      <%=f.text_field :domain_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for='event_event_logo'>2.上传logo(上传尺寸 280px 宽*74px高, jpg/png格式, 尺寸200kb)</label>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <img src=<%=@event.event_logo.url%> width="100px">
    </div>
    <div class="col-md-8">
      <%= f.file_field :event_logo, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <label>3.上传头图图片(上传尺寸 640px宽*240px高，jpg/png格式，尺寸200kb)</label>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <img src=<%=@event.head_photo.url%> width="100px">
    </div>
    <div class="col-md-8">
      <%= f.file_field :head_photo, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <label>4.上传微信图标(上传尺寸 300px宽*300px高，jpg/png格式，尺寸200kb)</label>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <img src=<%=@event.wx_pic_logo.url%> width="100px">
    </div>
    <div class="col-md-8">
      <%= f.file_field :wx_pic_logo, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <label>5.上传座位查询背景图(上传尺寸 759px宽*309px高，jpg/png格式)</label>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <img src=<%=@event.seat_search_bg.url%> width="100px">
    </div>
    <div class="col-md-8">
      <%= f.file_field :seat_search_bg, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <label>6, 标题(字数在15字以内)</label>
    </div>
    <div class="col-md-8">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-12">
      <label>7.内容(字数在99字以内)</label>
    </div>
  </div>
  <%= f.kindeditor :content, :simple_mode => true %>

  <div class="row" style="margin-top:10px">
    <%= button_tag '保存', class: 'btn btn-primary col-xs-1', style: "margin-right:10px" %>
  </div>
<% end %>
