<%= form_for @event, url: event_update_event_base_setting_path(@event), html: {class: 'form-horizontal', style: 'margin-left: 40px;'} do |f|%>
  <div class="form-group">
    <div class="col-md-12">
      <label for="event_domain_name">1. 域名设置</label>
    </div>
    <div class="col-md-8">
      <%=f.text_field :domain_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for='event_event_logo'>2.上传logo(上传尺寸 120px 宽*100px高, jpg/png格式, 尺寸200kb)</label>
    </div>
    <% if @event.event_logo.present? %>
      <div class="col-md-3 col-md-offset-2">
        <img src=<%=@event.event_logo.url%> width="100px">
      </div>
    <% end %>
    <div class="col-md-8">
      <%= f.file_field :event_logo, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label>3.上传头图图片(上传尺寸 640px宽*240px高，jpg/png格式，尺寸200kb)</label>
    </div>
    <% if @event.head_photo.present? %>
      <div class="col-md-3 col-md-offset-2">
        <img src=<%=@event.head_photo.url%> width="100px">
      </div>
    <% end %>
    <div class="col-md-8">
      <%= f.file_field :head_photo, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label>4, 标题(字数在15字以内)</label>
    </div>
    <div class="col-md-8">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-12">
      <label>5.内容(字数在99字以内)</label>
    </div>
  </div>

  <% options = { model: @event, form: f } %>
  <%= render partial: 'shared/rich_editor', locals: { options: options.merge(name: :content) } %>

  <div class="row" style="margin-top:10px">
    <%= button_tag '保存', class: 'btn btn-primary col-xs-1', style: "margin-right:10px" %>
  </div>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'event_base_setting' %>
<% end %>
