<style type="text/css">
	.tu{
		position:relative;
		text-align:center;
	}
	.ch{
		position:absolute;
		right:15px;
	}
</style>
<div class="col-xs-10">
	<div class="row" style="margin-top: 10px">
		<div class="col-xs-10">
			<b>选择网站上要显示的功能</b>
		</div>
	</div>

	<div class="row" style="margin-top: 30px">
		<div class="col-xs-3 tu">
		  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			  <input class="ch" type="checkbox"></input>
			<span>入场凭证</span>
		</div>
		<div class="col-xs-3 tu">
		<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>会议日程</span>
		</div>
		<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>酒店信息</span>
		</div>
		<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>周边推荐</span>
		</div>
	</div>

	<div class="row" style="margin-top: 10px">
		<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>座位信息</span>
		</div>
		<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>站外链接</span>
		</div>
		<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>互动问答</span>
		</div>
		<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			<input class="ch" type="checkbox"></input>
			<span>现场抽奖</span>
		</div>
	</div>
	
	<div class="row" style="margin-top:10px">
		<input class="col-xs-1" style="margin-right:10px" type="button" value="确定"></input>
		<input class="col-xs-2" type="button" value="取消修改"></input>
	</div>

</div>