<style type="text/css">
	.tu{
		text-align:center;
	}
	.ch{
		position:absolute;
		right:15px;
	}
</style>
<%= form_for @event, url: event_update_function_setting_path(@event), html: {class: 'form-horizontal'} do |f|%>
	<div class="row">
			<div class="col-xs-3 tu">
			  <%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
			  <%= f.check_box :admission_certificate, class: 'ch' %>
				<span>入场凭证</span>
			</div>

			<div class="col-xs-3 tu">
			<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :session_schedule, class: 'ch' %>
				<span>会议日程</span>
			</div>

			<div class="col-xs-3 tu">
				<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :hotel_info, class: 'ch' %>
				<span>酒店信息</span>
			</div>

			<div class="col-xs-3 tu">
				<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :nearby_recommend, class: 'ch' %>
				<span>周边推荐</span>
			</div>

			<div class="col-xs-3 tu">
				<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :seat_info, class: 'ch' %>
				<span>座位信息</span>
			</div>
			<div class="col-xs-3 tu">
				<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :outside_link, class: 'ch' %>
				<span>站外链接</span>
			</div>
			<div class="col-xs-3 tu">
				<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :interactive_answer, class: 'ch' %>
				<span>互动问答</span>
			</div>
			<div class="col-xs-3 tu">
				<%= image_tag 'function_item_bg.jpg', style: "width:100%;high:80%"%>
				<%= f.check_box :lottery, class: 'ch' %>
				<span>现场抽奖</span>
			</div>

			<input class="btn btn-primary col-xs-1 col-md-offset-2" type="submit" value="确定"></input>

	</div>
<% end %>