<title>尤尼克斯新品发布合作伙伴会议</title>
<div class="container">
  <div class="row">
    <div id="page0" class="home-bg">
      <%= image_tag 'client/sites/home_page0.jpg', class:"bg-img" %>
      <div class="col-xs-12 logo-area">
        <%= image_tag 'client/sites/logo.jpg'%>
      </div>
      <div class="col-xs-12 title-area">
        <p class="title">尤尼克斯</p>
        <p class="subtitle">新品发布合作伙伴会议</p>
        <p class="title-eg">YONEX NEWEST TECHNOLOGY NEW PRODUCTS TRADE SHOW</p>
        <p class="invitation">邀请函</p>
      </div>
      <div class="col-xs-12 text-center double-down">
        <i class="fa fa-angle-double-down fa-3x"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="page1" class="home-bg">
      <%= image_tag 'client/sites/home_page1.jpg', class:"bg-img" %>
      <div class="col-xs-12 logo-area">
        <%= image_tag 'client/sites/logo.jpg'%>
      </div>
      <div class="col-xs-12 letter-area">
        <div class="col-xs-12 text-center name-area">
          <%= image_tag 'client/sites/meeting_name.png'%>
        </div>
        <div class="col-xs-12 invitation-msg">
          <p class="call-name">尊敬的嘉宾：</p>
          <p>为感谢各位合作伙伴在尤尼克斯（上海）体育用品公司正式成立的第一年所做出的杰出贡献，特举办“2015年尤尼克斯合作伙伴交流会及答谢晚宴”，敬请您参加！</p>
          <p>与你分享2015年的累累硕果，翘首企盼更加辉煌的2016！</p>
        </div>
        <div class="col-xs-12 text-center web-button-area">
          <button type="button" class="web-button">进入微官网</button>
        </div>
      </div>
      <div class="col-xs-12 text-center double-down">
        <i class="fa fa-angle-double-down fa-3x"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="page2" class="home-bg">
      <%= image_tag 'client/sites/login.jpg', class:"bg-img" %>
      <div class="col-xs-12 logo-area">
        <%= image_tag 'client/sites/logo.jpg'%>
      </div>
      <div class="col-xs-12 text-center login-area">
        <h2>您好！</h2>
        <p>欢迎光临YONEX订货会</p>
        <div class="phone-area">
          <input type="tel" placeholder="_" maxlength="1" />
          <input type="tel" placeholder="_" maxlength="1" />
          <input type="tel" placeholder="_" maxlength="1" />
          <input type="tel" placeholder="_" maxlength="1" />
        </div>
        <p class="phone-msg">请输入您的手机号后四位</p>
        <button type="button" class="login-button">验证身份</button>
      </div>
    </div>
  </div>
</div>
<% content_for :style do %>
  <%= stylesheet_link_tag 'client_sites_show', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'client_sites_show' %>
<% end %>
