<script>
  var scrollDisabled = true;
</script>

<div class="background-container" id="background-container" ></div>

<div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
  <div class="row">
    <div class="col-md-7 col-md-offset-5" style="margin-top:2em">
      <%= image_tag image_path('cloudsignin-logo.png'), id:'cloudsignin-logo', width: '50%', class:'pull-right', style:'margin-right: 1em' %>
      <%= image_tag image_path('cloudsignin-event-title.png'), id: 'cloudsignin-event-title', width: '80%', class:'pull-right', style: 'margin-right: 1em; margin-top:2em' %>
      <%= image_tag image_path('cloudsignin-invitation.png'), id:'cloudsignin-invitation', width: '30%', class:'pull-right', style: 'margin-right: 1em; margin-top:1.5em' %>

      <%= link_to invitations_sessions_path do%>
        <%= image_tag image_path('cloudsignin-enter-btn.png'), id:'cloudsignin-enter-btn', width: '30%', class:'pull-right', style: 'clear:both; margin-right: 1em; margin-top:1.5em' %>
      <% end %>

    </div>
  </div>
</div>

