<style type="text/css">
.content-area{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "微软雅黑";
  color: #fff;
  letter-spacing: 1px;
}
.bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.prize-area{
  z-index: 1;
  position: absolute;
}
.title-area{
  margin-top: 15px;
  position: relative;
}
.line-area{
  position: absolute;
  left: 28%;
  top: 8px;
}
.top-gradient{
  height: 25px;
  width: 1px;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255,255,0,0), rgba(255,255,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8)); /* 标准的语法（必须放在最后） */
}
.bottom-gradient{
  height: 25px;
  width: 1px;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255,255,0,0.8), rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0)); /* 标准的语法（必须放在最后） */
}
.title-area h1{
  font-size: 23px;
  font-weight: bold;
  padding-left: 10px;
}
.logo-area img{
  height: 55px;
  margin-top: 6px;
  position: absolute;
  right: 0px;
}
.lottery-area{
  margin-top: 50px;
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
  width: 300px;
}
.lottery-bg{
  background-color: #ccc;
  opacity: 0.4;
  position: absolute;
  height: 450px;
  left: 0px;
  top: 0px;
  width: 300px;
  z-index: -999;
}
.lottery-title-area{
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  width: 300px;
}
.head-bg{
  position: absolute;
  top: 10px;
  left: 0px;
  width: 312px;
  height: 50px;
  z-index: -88;
}
.lottery-title{
  float: left;
  font-size: 18px;
}
.lottery-num{
  float: right;
  font-size: 15px;
  font-style: italic;
}
.table-area{
  background-color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 370px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}
.lottery-person{
  width: 100%;
  color: #555;
  background-color: #fff;
  text-align: center;
}
.lottery-person tr.table-title{
  border-bottom: #d9d9d9 1px solid;
}
.lottery-person th{
  text-align: center;
}
.lottery-person tr{
  border-bottom: #d9d9d9 1px dashed;
  line-height: 36px;
}
.lottery-person td{
  padding-top: 5px;
  padding-bottom: 5px;
}
.lottery-person tr.last-person{
  border: 0px;
}
.number-area{
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #929292;
  color: #fff;
}
.name-icon{
  width: 26px;
  height: 26px;
  border: #8f8f8d 1px solid;
}
.lottory-prize-area{
  margin-top: 45px;
  background:rgba(255,255,255,0.1);
  height: 450px;
  position: relative;
  border-top: #666 1px solid;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  border-left: #999 1px solid;
}
.prize-content{
  padding-left: 50px;
  padding-right: 50px;
}
.select-content{
  margin-top: 20px;
  height: 50px;
  line-height: 50px;
}
.lottory-prize-area{
  position: relative;
}
.lottery-item-bg{
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: 50px;
}
.select-area{
  float: left;
  font-size: 16px;
}
.select-area select{
  background: rgba(255,255,255,0);
  border:0px;
}
.select-area option{
  background: rgba(255,255,255,0.5);
  border:0px;
}
.person-no-area{
  float: right;
  font-style: italic;
  font-size: 15px;
}
.person-msg{
  text-align: center;
  position: relative;
}
.name-area p{
  margin-bottom: 5px;
}
.name-area{
  margin-top: 160px;
  text-align: center;
}
.person-portrait{
  text-align: center;
  margin-top: 10px;
  width: 146px;
  height: 146px;
  padding: 1px;
  background-color: #fff;
  position: absolute;
  left:50%;
  margin-left: -73px;
  top: 0px; 
}
.person-portrait img{
  width: 144px;
  height: 144px;
}
.start-button button{
  margin-top: 15px;
  background-color: #4709b2;
  width: 120px;
  height: 40px;
  border: 0px;
  font-weight: bold;
}
.split-line{
  position: relative;
  margin-top: 8px;
}
.left-gradient{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width:50px;
  height: 1px;
  background: -webkit-linear-gradient(right,rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(255,255,255,0), rgba(255,255,255,0.8)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(255,255,255,0), rgba(255,255,255,0.8)); /* 标准的语法（必须放在最后） */
}
.right-gradient{
  position: absolute;
  left: 50%;
  width:50px;
  height: 1px;
  background: -webkit-linear-gradient(right,rgba(255,255,255,0.8), rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,rgba(255,255,255,0.8), rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,rgba(255,255,255,0.8), rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,rgba(255,255,255,0.8), rgba(255,255,255,0)); /* 标准的语法（必须放在最后） */
}
.person-area{
  margin-top: 30px;
}

</style>

<div id="event" data-event-id=<%= current_event.id %> class="hidden"></div>
<div id="event-lottery-prize" data-event-lottery-prize-id=<%= params[:event_lottery_prize_id] %> class="hidden"></div>

<div class="content-area">
  <img class="bg-img" src="/images/lottery_prize/background.png">
  <div class="prize-area col-md-8 col-md-offset-2">
    <div class="title-area col-xs-12">
      <div class="line-area">
        <div class="top-gradient"></div>
        <div class="bottom-gradient"></div>
      </div>
      <div class="col-xs-3 logo-area">
        <img src="/images/lottery_prize/logo.png" class="img-responsive">
      </div>
      <div class="col-xs-9">
        <h1>“2016 YONEX尤尼克斯合作伙伴暨新品发布会议”</h1>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="lottery-area">
        <div class="lottery-bg"></div>
        <div class="lottery-title-area">
          <img class="head-bg" src="/images/lottery_prize/head-bg.png">
          <p class="lottery-title">获奖名单</p>
          <p class="lottery-num">获奖人数 <span id="lottery-prize-attendee-size"><%= @attendees.size %></span></p>
        </div>
        <div class="table-area">
          <table id="lottery-prize-attendees" class="lottery-person">
            <tr class="table-title">
              <th>序号</th>
              <td>&nbsp;</td>
              <th>获奖人</th>
              <th>奖项</th>
            </tr>
            <% @attendees.each do |attendee| %>
              <% lottery_prize = LotteryPrize.search_by_attendee_and_event_lottery_prize(attendee, @event_lottery_prize)%>
              <tr class="last-person">
                <td>
                  <div class="number-area"><%= attendee.id %></div>
                </td>
                <td>
                  <%= image_tag(attendee.avatar.url, class: 'name-icon attendee-avatar') %>
                </td>
                <td>
                  <%= attendee.name %>
                </td>
                <td>
                  <%= lottery_prize.first.event_lottery_prize_item.name %><i class="fa fa-times" aria-hidden="true"></i>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-8 prize-content">
      <div class="col-xs-12 lottory-prize-area">
        <img class="lottery-item-bg" src="/images/lottery_prize/lottery-item-bg.png">
        <div class="col-xs-12 select-content">
          <div class="select-area">
            <select id="lottery-prize-item">
              <% @event_lottery_prize_items.each do |lottery_prize_item| %>
                <option value=<%= lottery_prize_item.id %>><%= lottery_prize_item.name %></option>
              <% end %>
            </select>
          </div>
          <div class="person-no-area">
            <p>参与人数 <span><%= @total_attendee_count %></span></p>
          </div>
        </div>
        <div class="col-xs-12 person-area">
          <div class="person-msg">
            <div class="person-portrait">
              <img id="attendee-img" src="/images/lottery_prize/person.png">
            </div>
          </div>
          <div class="name-area">
            <p id="attendee-name">王佳</p>
            <p id="attendee-company">某某科技有限公司</p>
          </div>
          <div class="split-line">
            <div class="left-gradient"></div>
            <div class="right-gradient"></div>
          </div>
          <div class="start-button text-center">
            <button id="start-lottery-prize" type="button">开始抽奖</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var Obj = {
    imageIndex: 0,
    timer: null,
    images: [],
    attendee_names: [],
    attendee_companies: [],
    attendee_ids: [],

    postLotteryPrize: function(attendee_id){
      var self = Obj;
      var event_id = $('#event').data('event-id');
      var event_lottery_prize_id = $('#event-lottery-prize').data('event-lottery-prize-id');

      var url = "/app/events/"+event_id+"/event_lottery_prizes/"+event_lottery_prize_id+"/lottery_prizes.json";

      $.post(url,
      {
        attendee_id: attendee_id,
        event_lottery_prize_item_id: $('#lottery-prize-item').val()
      },
      self.onPostLotteryPrizeSuccess).error(self.onPostLotteryPrizeFailure);
    },

    onPostLotteryPrizeFailure: function(event){
      alert('error');
    },

    onPostLotteryPrizeSuccess: function(event){
      var self = Obj;
      $('#lottery-prize-attendee-size').text(parseInt($('#lottery-prize-attendee-size').text())+1);

      var $tr=$("#lottery-prize-attendees tr").eq(0);
      var trHtml = "<tr class='last-person'><td><div class='number-area'>"+event.attendee.id+"</div>"
      +"</td><td><img src="+event.attendee.img_url+" class='name-icon attendee-avatar'"
      +"</td><td>"
      +event.attendee.name
      +"</td><td>"
      +event.event_lottery_prize_item.name+"<i class='fa fa-times' aria-hidden='true'></i>"
      +"</td></tr>";
      
      $tr.after(trHtml);
    },

    showPicture: function(imgUrl){
      var self = Obj;

      if(self.imageIndex == self.images.length)
      {
        clearInterval(self.timer);
        self.postLotteryPrize(self.attendee_ids[self.imageIndex-1]);
        self.imageIndex = 0;
        return;
      }
      $('#attendee-img').attr('src', self.images[self.imageIndex]);
      $('#attendee-name').text(self.attendee_names[self.imageIndex]);
      $('#attendee-company').text(self.attendee_companies[self.imageIndex]||'');

      self.imageIndex += 1;
    },

    loadAttendee: function(){
      var self = Obj;

      var event_id = $('#event').data('event-id');
      var event_lottery_prize_id = $('#event-lottery-prize').data('event-lottery-prize-id');
      $.getJSON('/app/events/'+event_id+'/event_lottery_prizes/'+event_lottery_prize_id+'/get_attendee_list.json',
        {
          lottery_prize_item: $('#lottery-prize-item').val()
        },
        function(event){
          self.images.length = 0;
          self.attendee_names.length = 0;
          self.attendee_companies.length = 0;
          self.attendee_ids.length = 0;
          $.each(event.collection, function(index, item){
            self.images.push(item.img_url);
            self.attendee_names.push(item.name);
            self.attendee_companies.push(item.company);
            self.attendee_ids.push(item.id);
          });
          self.timer = setInterval(self.showPicture,300);
      });
    },

    onStartLotteryPrizeClicked: function(){
      var self = Obj;
      self.loadAttendee();
    },

    initialize: function(){
      var self = Obj;
      $('#start-lottery-prize').on('click', self.onStartLotteryPrizeClicked);
    }
  }
  $(function(){
    Obj.initialize();
  })
</script>