<div class="row">
  <div class="col-lg-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>选择日程</h5>
      </div>
      <div class="ibox-content">
        <%=select_tag :session_id, options_for_select(current_event.sessions.checkin_enabled.map {|s| [s.full_name, event_session_checkin_path(current_event, s)]}, url_for), prompt: '请选择日程', include_blank: false, class: 'input-sm form-control input-s-sm inline', id: 'select-session-checkin'%>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= @session.company_checkin? ? '已签到公司' : '已签到人数' %></h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%=@total - @has_not_checkin_attendees.length%></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= @session.company_checkin? ? '未签到公司' : '未签到人数' %></h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins"><%=@has_not_checkin_attendees.length%></h1>
      </div>
    </div>
  </div>
</div>