<title>会议信息</title>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 recommends-img">
     <%= image_tag 'client/recommends/recommends.png', class:"img-responsive"%>
    </div>
    <div class="col-xs-12 recommends-area">
      <div class="col-xs-12 title-area">
        <div class="col-xs-8 icon-area">
          <%= image_tag 'client/recommends/recommends_icon.png' %>
          <span class="title-name">周边推荐</span>
        </div>
        <div class="col-xs-4 text-right close-area">
          <a href="/client/events/1/sites/12">
            <%= image_tag 'client/shared/close.png'%>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 table-area">
      <table>
        <tr class="bg-cell">
          <th class="classification">分类</th>
          <th class="shop-name">店名</th>
          <th class="shop-address">地址</th>
          <th class="map-navigator">地图导航</th>
        </tr>
        <tr>
          <td class="classification"><span>美食</span></td>
          <td class="shop-name">衡园酒家</td>
          <td class="shop-address">衡山路高安路35号2楼</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr class="bg-cell">
          <td class="classification"><span>美食</span></td>
          <td class="shop-name">衡山小馆</td>
          <td class="shop-address">衡山路308号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr>
          <td class="classification"><span>美食</span></td>
          <td class="shop-name">德莱特面包房</td>
          <td class="shop-address">衡山路333号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr class="bg-cell">
          <td class="classification"><span>ATM</span></td>
          <td class="shop-name">中国银行</td>
          <td class="shop-address">衡山路615-2号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr>
          <td class="classification"><span>超市</span></td>
          <td class="shop-name">好德便利</td>
          <td class="shop-address">吴兴路215号(近衡山路)</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr class="bg-cell">
          <td class="classification"><span>超市</span></td>
          <td class="shop-name">罗森便利店</td>
          <td class="shop-address">衡山路286号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr>
          <td class="classification"><span>休闲</span></td>
          <td class="shop-name">碟专业按摩</td>
          <td class="shop-address">吴兴路29号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr class="bg-cell">
          <td class="classification"><span>ATM</span></td>
          <td class="shop-name">建设银行</td>
          <td class="shop-address">衡山路615-2号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
        <tr class="no-boder">
          <td class="classification"><span>ATM</span></td>
          <td class="shop-name">上海银行</td>
          <td class="shop-address">衡山路615-2号</td>
          <td class="map-navigator"><span>查看路线</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<% content_for :style do %>
  <%= stylesheet_link_tag 'client_recommends_index', media: 'all' %>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag "client_event_sessions_show" %>
<% end %>