<title>会议信息</title>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 recommends-img">
     <%= image_tag 'client/recommends/recommends.png', class:"img-responsive"%>
    </div>
    <div class="col-xs-12 recommends-area">
      <div class="col-xs-12 title-area">
        <div class="col-xs-8 icon-area">
          <%= image_tag 'client/recommends/recommends_icon.png' %>
          <span class="title-name">周边推荐</span>
        </div>
        <div class="col-xs-4 text-right close-area">
          <a href="/client/invites">
            <%= image_tag 'client/shared/close.png'%>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 table-area">
      <table>
        <tr class="bg-cell">
          <th class="classification">分类</th>
          <th class="shop-name">店名</th>
          <th class="shop-address">地址</th>
          <th class="map-navigator">地图导航</th>
        </tr>
        
        <% count = 0 %>
        <% @recommends.each do |recommend| %>
        <% count +=1  %>
          <tr class=<%= count%2==0 ? "bg-cell" : "" %>>
            <td class="classification"><span><%= recommend.category_name %></span></td>
            <td class="shop-name"><%= recommend.recommend_name%></td>
            <td class="shop-address"><%= recommend.address%></td>
            <td class="map-navigator">
              <a href="http://api.map.baidu.com/marker?location=<%= recommend.latitude%>,<%= recommend.longitude%>&title=<%= recommend.recommend_name%>&content=<%= recommend.address%>&output=html&src=yourComponyName|yonex">
                <span>查看路线</span>
              </a>
            </td>
          </tr>
        <% end %>
      
     <!--
        <tr class="no-boder">
          <td class="classification"><span>ATM</span></td>
          <td class="shop-name">上海银行</td>
          <td class="shop-address">衡山路615-2号</td>
          <td class="map-navigator">
            <a href="http://api.map.baidu.com/marker?location=39.047669,116.313082&title=我的位置&content=百度奎科大厦&output=html">

              <span>查看路线</span>
            </a>
          </td>
        </tr>
      -->
      </table>
    </div>
  </div>
</div>

<% content_for :style do %>
  <%= stylesheet_link_tag 'client_recommends_index', media: 'all' %>
<% end %>
