<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <% if 'seat_search' == @current_module %>
        <%=link_to 'YONEX', event_attendee_seats_path, class:'navbar-brand'%>
      <% else %>
        <%=link_to 'YONEX', event_site_path, class:'navbar-brand'%>
      <% end %>

      <% if @session %>
      <span class="navbar-eventname">
        <%= "#{@session.full_name}" %>

        <i class="fa fa-circle m-l-lg" id="scanner-indicator"></i>
      </span>
      <% end %>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <% if 'seat_search' == @current_module %>
            <%= link_to event_attendee_seats_path do%>
                <i class="fa fa-chevron-left"></i>选择场次
            <% end %>
          <% else %>
            <%= link_to event_site_path do%>
                <i class="fa fa-chevron-left"></i>选择场次
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to sign_out_path, method: :delete, data: {confirm: '是否确认退出登录'} do %>
            <i class="fa fa-sign-out"></i> 退出登录
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>