<!DOCTYPE html>
<html>

<head lang='zh-CN'>

  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <%= csrf_meta_tags %>
  <%= yield :meta %>

  <%= yield :title %>

  <%= yield :style %>

</head>

<body class='<%= params[:controller].split('/').join ' ' %> <%= params[:action] %>'>

  <% if flash[:error] %>
    <p class='alert alert-danger'><%= flash[:error] %></p>
    <% flash[:error].clear %>
  <% end %>

  <% if flash[:notice] %>
    <p class='alert alert-info'><%= flash[:notice] %></p>
    <% flash[:notice].clear %>
  <% end %>

  <%= yield %>

  <%= yield :script %>

</body>
</html>
