<!DOCTYPE html>
<html>
<head>
  <title>Yonex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :style %>
  <%= stylesheet_link_tag 'jquery-accordion-menu' %>
  <%= stylesheet_link_tag '//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css', media: 'all' %>

  <style type="text/css">
  .content{width:260px;margin:20px auto;}
  #demo-list a{
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
  }
  </style>
  <%= javascript_include_tag 'jquery-accordion-menu' %>

  <script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
  });

  $(function(){ 
    //顶部导航切换
    $("#demo-list li").click(function(){
      $("#demo-list li.active").removeClass("active")
      $(this).addClass("active");
    })
  })
  </script>
</head>

<body>

<div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

  <%= render 'layouts/navigation' %>

  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

    <%= render 'layouts/event_topnavbar' %>

    <%= render 'layouts/event_breadcrumb' %>

    <div class="wrapper wrapper-content">
      <%= render 'layouts/notifications'%>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </div>
  <!-- End page wrapper-->

</div>
<!-- End wrapper-->
<%#= render partial: 'shared/script' %>
<%= yield :script %>

</body>

</html>
